<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#/home"><h3 class="center">Course Mouse</h3></a>
		</div>	
	</nav>
</div>

<section class="container">
	<div class="section">		
			<img class="responsive-img course-img" ng-src="{{photo}}" alt="data/images/einstein.jpg">
	</div>
	<div class="section">
		<h5>{{name}}</h5>
		<p>{{title}}</p>
		<p>{{department}}<p>
		<p>{{uni}}<p>	
	</div>
	<div class="divider"></div>

	<div class="section">
		<p>{{bio}}</p>
	</div>
	<div class="divider"></div>

	<div class="section">
		<h5>Website</h5>
		<a href="{{website}}" target="_blank">{{website}}</a>
	</div>

	<div class="divider"></div>

	<div class="section">
		<h5>Courses</h5>
		<section ng-repeat="course in courses">
			<br>
			<a href="#/courses/{{course._id}}">{{course._source.name}}</a>
			<br>
			{{course._source.shortDescription}}
			<br>
			<br>
		</section>	
	</div>

</section>