<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#/home"><h3 class="center">Course Mouse</h3></a>
		</div>	
	</nav>
</div>

<section class="container">
	<div class="section">
		<h5 class="center">Search By Category</h5>
	</div>
    <form class="input-field" ng-submit="submit()">
    	<input  ng-model="query" id="search" type="text" required autofocus="autofocus" placeholder="Input the category">
    </form>

	<br>

	<div class="row">
		<section ng-repeat="course in courses">
			<br>
			<a href="#/courses/{{course._id}}">{{course._source.name}}</a>
			<br>
			{{course._source.shortDescription}}
			<br>
			<br>
			<div class="divider"></div>
		</section>	
	</div>
</section>