<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#/home"><h3 class="center">Course Mouse</h3></a>
		</div>	
	</nav>
</div>

<section class="container">
	<div class="section">
		<h5 class="center">Search By University</h5>
	</div>
    <form class="input-field" ng-submit="submit()">
    	<input  ng-model="query" id="search" type="text" required autofocus="autofocus" placeholder="Input the university's name">
    </form>

	<br>

	<div class="row">
		<section>
			<a href="{{website}}" target="_blank" >{{name}}</a>
			<br>
			{{description}}
			<br>
			<br>
			<div class="divider"></div>
		</section>	
	</div>

	<div class="row">
		<div class="col s6 card medium">
		 	<div class="card-content">
	            <span class="card-title activator grey-text text-darken-4">All Courses <i class="mdi-navigation-more-vert right"></i></span>
	        </div>
	        <div class="card-reveal">
		        <span class="card-title grey-text text-darken-2">All Courses <i class="mdi-navigation-close right"></i>
		        </span>
		        <ul >
		            <li ng-repeat="course in courses"  >
		                <div >
		                    <a href="#/courses/{{course._id}}">{{course._source.name}}</a>
		                </div>
		             </li>
		        </ul>
		    </div>
		</div>

		<div class="col s6 card medium">
		 	<div class="card-content">
	            <span class="card-title activator grey-text text-darken-4">All Instructors<i class="mdi-navigation-more-vert right"></i></span>
	        </div>
	        <div class="card-reveal">
		        <span class="card-title grey-text text-darken-4">All Instructors<i class="mdi-navigation-close right"></i>
		        </span>
		        <ul >
		            <li ng-repeat="instructor in instructors"  >
		                <div >
		                    <a href="#/instructors/{{instructor._id}}">{{instructor._source.firstName}} {{instructor._source.lastName}}</a>
		                </div>
		             </li>
		        </ul>
		    </div>
		</div>
    </div>

</section>